body{
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    background-color: #111111;
    margin: 0;
}

#center{
    height: 100%;
}

#box{
    width: 25vw;
    padding: 100px;
    background-color: white;
    border-radius: 3px;

}

a{
    color: black;
}

a:hover{
    color: grey;
}
  
